.turnpage_container{
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
}

.turnpage_container div:hover{
    color: red;
    cursor: pointer;
    animation: ease-in-out;
    animation-duration: 2000ms;
}

.page_number-current{
    color: red;
}
