div[class*='-container']{
    margin: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-sizing: border-box;
}
.movie-container{
    background-color: rgba(205, 92, 92, .7);
    width: 30%;
    box-sizing: border-box;
}
.show-container{
    background-color: rgba(74, 0, 128, .7);
    width: 30%;
    box-sizing: border-box;
}

.details-container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.div[class*='-container']>img{
    display: flex;
    justify-self: center;
}
.div[class*='-container'] h3{
    box-sizing: border-box;
    display: flex; 
    width: 100%;
    justify-content: center;
}

.sub-details{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
}