.app{
    display: flex;
    background-color: black;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    justify-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.results_block{
    display:flex;
    flex-flow: row wrap;
    margin: 10px;
    width: fit-content;
    justify-content: center;
}

.category_block{
    display: flex;
    width: fit-content;
    flex-flow: row wrap;
    column-width: fit-content;
    margin: 2rem;
}
.category_block>button{
    width: 100px;
    margin: 5px;
}