.app{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    justify-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.results_block{
    display:flex;
    flex-flow: row wrap;
    margin: 10px;
    width: fit-content;
    justify-content: center;
}

.category_block{
    display: flex;
    width: fit-content;
    flex-flow: row wrap;
    column-width: fit-content;
    border: 1px solid red;
    margin: 2rem;
}
.category_block>button{
    width: 100px;
    margin: 5px;
}